In [1]:
from ib_async import * 
import pandas as pd
import numpy as np
import datetime as dt
from datetime import datetime, timezone # new
from IPython.display import display, clear_output
util.startLoop()

In [3]:
ib = IB()
ib.connect()

C:\Users\email\AppData\Local\Temp\ipykernel_31084\3444206324.py:20: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  target = df["position"][-1] * units
C:\Users\email\AppData\Local\Temp\ipykernel_31084\3444206324.py:20: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  target = df["position"][-1] * units
C:\Users\email\AppData\Local\Temp\ipykernel_31084\3444206324.py:20: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  target = df["position"][-1] * units
Error 162, reqId 136: Historical Market Data Service error message:API historical data query cancelled: 136

In [4]:
# strategy parameters
sma_s = 2
sma_l = 5
freq = "1 min"
units = 1000
end_time = dt.time(20, 5, 0) # stop condition
contract = Forex('EURUSD') 
ib.qualifyContracts(contract)
cfd = CFD("EUR", currency = "USD")
ib.qualifyContracts(cfd)
conID = cfd.conId

In [5]:
datetime.now(timezone.utc).time() # new

datetime.time(14, 59, 56, 841626)

In [6]:
datetime.now(timezone.utc).time() >= end_time # new

False

In [7]:
def onBarUpdate(bars, hasNewBar):  
    global df, last_bar
    
    if bars[-1].date > last_bar: 
        last_bar = bars[-1].date
    
        # Data Processing
        df = pd.DataFrame(bars)[["date", "open", "high", "low", "close"]].iloc[:-1] 
        df.set_index("date", inplace = True)
        
        ####################### Trading Strategy ###########################
        df = df[["close"]].copy()
        df["sma_s"] = df.close.rolling(sma_s).mean()
        df["sma_l"] = df.close.rolling(sma_l).mean()
        df.dropna(inplace = True)
        df["position"] = np.where(df["sma_s"] > df["sma_l"], 1, -1 )
        ####################################################################
        
        # Trading
        target = df["position"][-1] * units
        execute_trade(target = target)
        
        # Display
        clear_output(wait=True)
        display(df)
    else:
        try:
            trade_reporting()
        except:
            pass

def execute_trade(target):
    global current_pos
    
    # 1. get current Position
    try:
        current_pos = [pos.position for pos in ib.positions() if pos.contract.conId == conID][0]
    except:
        current_pos = 0
         
    # 2. identify required trades
    trades = target - current_pos
        
    # 3. trade execution
    if trades > 0:
        side = "BUY"
        order = MarketOrder(side, abs(trades))
        trade = ib.placeOrder(cfd, order)  
    elif trades < 0:
        side = "SELL"
        order = MarketOrder(side, abs(trades))
        trade = ib.placeOrder(cfd, order)
    else:
        pass

def trade_reporting():
    global report
    
    fill_df = util.df([fs.execution for fs in ib.fills()])[["execId", "time", "side", "cumQty", "avgPrice"]].set_index("execId")
    profit_df = util.df([fs.commissionReport for fs in ib.fills()])[["execId", "realizedPNL"]].set_index("execId")
    report = pd.concat([fill_df, profit_df], axis = 1).set_index("time").loc[session_start:]
    report = report.groupby("time").agg({"side":"first", "cumQty":"max", "avgPrice":"mean", "realizedPNL":"sum"})
    report["cumPNL"] = report.realizedPNL.cumsum()
        
    clear_output(wait=True)
    display(df, report)

In [8]:
# start trading session
session_start = pd.to_datetime(datetime.now(timezone.utc))# new
bars = ib.reqHistoricalData(
        contract,
        endDateTime='',
        durationStr='1 D',
        barSizeSetting=freq,
        whatToShow='MIDPOINT',
        useRTH=True,
        formatDate=2,
        keepUpToDate=True)
last_bar = bars[-1].date
bars.updateEvent += onBarUpdate
ib.sleep(30) # new - to be added (optional)

# stop trading session
while True:
    ib.sleep(5) # check every 5 seconds
    if datetime.now(timezone.utc).time() >= end_time: # if stop conditions has been met
        execute_trade(target = 0) # close open position 
        ib.cancelHistoricalData(bars) # stop stream
        ib.sleep(10)
        try:
            trade_reporting() # final reporting
        except:
            pass
        print("Session Stopped.")
        ib.disconnect()
        break
    else:
        pass

                              close     sma_s     sma_l  position
date
2025-03-10 21:19:00+00:00  1.083345  1.083345  1.083337         1
2025-03-10 21:20:00+00:00  1.083355  1.083350  1.083342         1
2025-03-10 21:21:00+00:00  1.083355  1.083355  1.083346         1
2025-03-10 21:22:00+00:00  1.083355  1.083355  1.083351         1
2025-03-10 21:23:00+00:00  1.083300  1.083327  1.083342        -1
...                             ...       ...       ...       ...
2025-03-11 14:57:00+00:00  1.091595  1.091435  1.091565        -1
2025-03-11 14:58:00+00:00  1.091805  1.091700  1.091562         1
2025-03-11 14:59:00+00:00  1.091935  1.091870  1.091577         1
2025-03-11 15:00:00+00:00  1.091845  1.091890  1.091691         1
2025-03-11 15:01:00+00:00  1.091725  1.091785  1.091781         1

[1063 rows x 4 columns]

Empty DataFrame
Columns: [side, cumQty, avgPrice, realizedPNL, cumPNL]
Index: []

In [9]:
ib.cancelHistoricalData(bars) # cancel trading

In [10]:
ib.disconnect()